<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('../layouts/header.ejs')  %>

    <!-- slick icon-->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">

    <!-- jsgrid css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/jsgrid.css">

</head>

<body>

    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <div class="authentication-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 p-0 card-left">
                        
                    </div>
                    <div class="col-md-6 p-0 card-right">
                        <div class="card tab2-card">
                            <div class="card-body">
                                <p style="color: #00baf2; font-size: 20px; margin-bottom: 20px;">Forgot Password</p>
                                <div class="tab-content" id="top-tabContent">
                                    <div class="tab-pane fade show active" id="top-profile" role="tabpanel" aria-labelledby="top-profile-tab">
                                        <form class="form-horizontal auth-form" method="post" action="/auth/login" autocomplete="off">
                                            <div class="form-group">
                                                <input id="register-email" type="email" name="email" required placeholder="Email Address"
                                                    data-msg="Please enter a valid email address" class="form-control">
                                            </div>
                                            <div class="form-button" style="text-align: center;">
                                                <button class="btn btn-primary" type="submit">Reset Password</button>
                                            </div>
                                            <div class="form-footer">
                                                <!-- <span>Or Login up with social platforms</span>
                                                <ul class="social">
                                                    <li><a class="icon-facebook" href=""></a></li>
                                                    <li><a class="icon-twitter" href=""></a></li>
                                                    <li><a class="icon-instagram" href=""></a></li>
                                                    <li><a class="icon-pinterest" href=""></a></li>
                                                </ul> -->
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <a href="/" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/script.ejs')  %>

    <!-- Jsgrid js-->
    <script src="/assets/js/jsgrid/jsgrid.min.js"></script>
    <script src="/assets/js/jsgrid/griddata-invoice.js"></script>
    <script src="/assets/js/jsgrid/jsgrid-invoice.js"></script>

    <script>
        $('.single-item').slick({
                arrows: false,
                dots: true
            }
        );
    </script>
</body>
</html>
